@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lobster&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  color: #d5dfde;
  background-color: #100e17;
  font-family: Roboto, sans-serif;
  outline: none; }

.container {
  margin: 0em 2em; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #d5dfde; }

.ld-header {
  position: fixed;
  width: 100%;
  height: 12.5vh;
  z-index: 5;
  transition: 0.3s ease-in-out; }
  .ld-header .container {
    padding: 0em 1.5em; }
  .ld-header nav {
    width: 100%;
    height: 12.5vh;
    display: flex; }
    .ld-header nav .navbar-brand {
      width: 15%;
      display: flex;
      padding-left: 5rem;
      align-self: center; }
      .ld-header nav .navbar-brand #brand {
        font-family: Lobster, Dosis, sans-serif;
        font-size: 40px;
        transition: 0.2s ease-in-out; }
        .ld-header nav .navbar-brand #brand:hover {
          color: #1F89DD; }
        .ld-header nav .navbar-brand #brand b {
          font-family: Dosis, Roboto, sans-serif; }
    .ld-header nav .navbar-collapse {
      width: 75%;
      align-self: center; }
      .ld-header nav .navbar-collapse ul {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 0px 0px 80px; }
      .ld-header nav .navbar-collapse li {
        align-self: center;
        padding: 15px 25px; }
      .ld-header nav .navbar-collapse a {
        font-family: Dosis, Roboto, sans-serif;
        font-size: 19px;
        padding: 7px 1px;
        transition: 0.3s ease-in-out; }
        .ld-header nav .navbar-collapse a:hover {
          border-bottom: 1px #d5dfde solid;
          color: #1F89DD; }

.ld-home {
  position: relative;
  width: 100%;
  height: 112.4vh;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  .ld-home .header-bg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000a; }
  .ld-home .col-header {
    position: relative;
    top: 6rem;
    display: flex;
    flex-direction: row; }
    .ld-home .col-header .header-img {
      width: 50%;
      height: 100vh; }
      .ld-home .col-header .header-img .border-img {
        position: relative;
        margin-left: 15px; }
        .ld-home .col-header .header-img .border-img img {
          width: 33.5vw;
          margin-left: 60px; }
    .ld-home .col-header .header-info {
      position: relative;
      padding: 80px 25px 25px;
      font-family: Dosis, Roboto, sans-serif;
      font-size: 18px;
      width: 50%; }
      .ld-home .col-header .header-info .ini-info {
        margin-left: 0.8rem; }
        .ld-home .col-header .header-info .ini-info span {
          background-color: #1F89DD;
          border-radius: 27px 27px 27px 0px;
          padding: 12px 25px;
          text-align: center;
          font-size: 20px; }
      .ld-home .col-header .header-info .nm-info {
        padding: 12px;
        margin-top: 25px;
        font-family: Dosis, Roboto, sans-serif; }
        .ld-home .col-header .header-info .nm-info h2 {
          font-size: 50px; }
        .ld-home .col-header .header-info .nm-info h4 {
          font-size: 28px; }
      .ld-home .col-header .header-info .link-info {
        padding: 12px;
        display: flex;
        flex-direction: column; }
        .ld-home .col-header .header-info .link-info .lt-info {
          padding: 5px 10px;
          display: inline-flex;
          transition: 0.2s ease-in-out; }
          .ld-home .col-header .header-info .link-info .lt-info:hover {
            color: #1F89DD;
            font-style: italic; }
          .ld-home .col-header .header-info .link-info .lt-info i {
            width: 10px;
            display: flex;
            justify-content: center;
            margin-right: 20px; }
      .ld-home .col-header .header-info .social-link {
        margin: 3px;
        display: flex; }
        .ld-home .col-header .header-info .social-link .social-ln {
          margin-left: 5px;
          width: 40px;
          height: 40px;
          border-radius: 25px;
          display: flex;
          justify-content: center; }
          .ld-home .col-header .header-info .social-link .social-ln a, .ld-home .col-header .header-info .social-link .social-ln i {
            width: 40px;
            height: 40px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px #d5dfde solid;
            transition: 0.2s ease-in-out; }
            .ld-home .col-header .header-info .social-link .social-ln a:hover > .fa-facebook, .ld-home .col-header .header-info .social-link .social-ln i:hover > .fa-facebook {
              background-color: #3B5999; }
            .ld-home .col-header .header-info .social-link .social-ln a:hover > .fa-instagram, .ld-home .col-header .header-info .social-link .social-ln i:hover > .fa-instagram {
              background-color: #044B7F; }
            .ld-home .col-header .header-info .social-link .social-ln a:hover > .fa-linkedin, .ld-home .col-header .header-info .social-link .social-ln i:hover > .fa-linkedin {
              background-color: #0077B5; }
            .ld-home .col-header .header-info .social-link .social-ln a:hover > .fa-github, .ld-home .col-header .header-info .social-link .social-ln i:hover > .fa-github {
              background-color: #000; }

.ld-about {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #100e17; }
  .ld-about .container {
    margin: 50px 50px;
    display: flex; }
    .ld-about .container .col-section {
      flex-direction: row;
      width: 50%; }
      .ld-about .container .col-section .ld-about-img {
        height: 30em;
        margin-left: 15px;
        padding: 5em; }
        .ld-about .container .col-section .ld-about-img img {
          width: 100%; }
      .ld-about .container .col-section .about-inner {
        width: auto;
        height: 20em;
        margin-top: 5em;
        padding: 6em; }
        .ld-about .container .col-section .about-inner h2 {
          font-family: Dosis, Roboto, sans-serif;
          font-size: 40px; }
        .ld-about .container .col-section .about-inner p {
          font-family: Roboto, sans-serif;
          text-align: justify;
          margin: 20px 0; }
        .ld-about .container .col-section .about-inner ul {
          display: flex;
          justify-content: center;
          justify-items: self-end;
          padding: 10px 5px; }
          .ld-about .container .col-section .about-inner ul li {
            list-style: none;
            border: 1px solid #1F89DD;
            border-radius: 7px;
            margin: 8px 3px;
            font-size: 15px;
            padding: 4px 10px;
            transition: ease-in-out .2s;
            margin-bottom: 3em; }
            .ld-about .container .col-section .about-inner ul li:hover {
              background-color: #1F89DD; }
        .ld-about .container .col-section .about-inner a {
          border: 1px solid #1F89DD;
          border-radius: 2em;
          padding: 5px 25px;
          background-color: #1F89DD;
          transition: ease-in-out .2s; }
          .ld-about .container .col-section .about-inner a:hover {
            background-color: #100e17; }

/*# sourceMappingURL=main.css.map */
